* {
    font-family: sans-serif;
    
    
  }
  .form {
    padding:20px;
  }
  .formInput {
    margin-bottom: 10px;
    display: flex;
  }
  .formInput label {
    font-size: 1.3rem;
    padding-right: 0.7rem;
  }
  .inputField {
    border: none;
    width: 335px;
    border-bottom: 1px solid white;
  }
  
  .formInput.desc {
    flex-direction: column;
    width: 50%;
  }
  .formInput.desc label {
    margin-bottom: 10px;
  }
  .description{
    resize: none;
    width: 480px;
    height: 180px;
  }
  
  .fileGroup {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #272826;
    padding: 20px; 
    width: 500px;
    height: 500px;
    position: right;
   
  }
  .fileInput {
    
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border: 0cm;
  }
  .fileInput label{
    cursor: pointer;
  }
  
  .AddIcon{
    position: absolute;
    color: white;
    background-color: #3c10f0;
    border-radius: 5px;
    font-weight: 600;
    padding: 1.5px 4px;
    
  }
  .addIcon{
    position: absolute;
    color: #3c10f0;
    background-color: #05030c;
    border-radius: 50% ;
    font-weight: 600;
    padding: 1.5px 4px;
    
  }
  .fileInputControl {
    display: none;
    cursor: pointer;
    border: 0cm;
    
  }
  
  .postuploadButton {
    position:absolute;
    padding: 10px ;
    font-size: 0.9rem;
    border-radius: 10px;
    border: none;
    background: #17eb22;
    color: white;
    font-weight: 600;
  }
  @media (max-width:678px){
    .description{
      width: calc(100vw - 70px);
    }
  }
  
  @media (max-width:514px){
    .formInput label {
      font-size: 1rem;
      padding-right: 0.4rem;
    }
  .inputField {
    width:calc(100vw - 150px);
  }
  }